@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark/light theme */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, button {
  font-family: inherit;
} */

html.dark {
  background-color: #0b0b0b;
}